services:
  app:
    build: .
    container_name: node_app
    ports:
      - "3000:3000"
    environment:
      MONGO_URI: mongodb://admin:password@mongodb:27017/fingerprint?authSource=admin
      SECRET: secret
    depends_on:
      - mongodb
    volumes:
      - .:/app
    command: npm start
    restart: unless-stopped

  mongodb:
    image: mongodb/mongodb-community-server:latest
    container_name: mongodb
    ports:
      - "27017:27017"
    volumes:
      - mongodb_data:/data/db
    environment:
      MONGO_INITDB_ROOT_USERNAME: admin
      MONGO_INITDB_ROOT_PASSWORD: password
    restart: unless-stopped

volumes:
  mongodb_data:
