<%- include('./partials/header') %>

    <div class="container mt-4">
        <h3 class="mb-4">Register New Student</h3>

        <% if (error) { %>
            <div class="alert alert-danger">
                <%= error %>
            </div>
            <% } %>
                <form action="/students/create" method="POST">
                    <div class="mb-3">
                        <label for="name" class="form-label">Student Name</label>
                        <input type="text" name="name" id="name" class="form-control" required />
                    </div>
                    <div class="mb-3">
                        <label for="rollNo" class="form-label">Roll Number</label>
                        <input type="text" name="rollNo" id="rollNo" class="form-control" required />
                    </div>
                    <button type="submit" class="btn btn-primary">
                        Register
                    </button>
                </form>
    </div>

    <%- include('./partials/footer') %>